# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# PostgreSQL (used when running with Docker Compose)
POSTGRES_DB=reusable_kyc
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# CORS (frontend dev server)
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Blockchain integration
# For Docker-based local development: http://anvil:8545
# For local non-Docker development: http://localhost:8545
BLOCKCHAIN_RPC_URL=http://localhost:8545
ROLE_MANAGER_ADDRESS=
KYC_REGISTRY_ADDRESS=
CHAIN_ID=31337

# Foundry deployment
PRIVATE_KEY=your_deployer_private_key_here

PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlN2ExYjE2NS1lMTM2LTRhYTMtOWMzZS01M2VlZmEzZjE2NDIiLCJlbWFpbCI6InByYWJlc2h5YWRhdjA4N0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiYjE5OWQzM2E5NTQzZmMzYmE2OWEiLCJzY29wZWRLZXlTZWNyZXQiOiI4ZDUzZDAzNzFmNDc5N2QzNzIzNzA4YmY0NzVkZmY2NTM4ZTg1OGM3YmU3MmYyYTRiNjM3MDUwNDU0NDE5ZmE3IiwiZXhwIjoxODE1NjM2NTk5fQ.xqd4eGouT7PcBpppNN_7vVYKWuTxCXSbSfiAoemwlN4
PINATA_API_KEY=b199d33a9543fc3ba69a
PINATA_SECRET_KEY=8d53d0371f4797d3723708bf475dff6538e858c7be72f2a4b637050454419fa7
PINATA_GATEWAY=https://your-gateway-name.mypinata.cloud