# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.sqlite3

# Environment
.env
kyc_documents/

# Recovered images
recovered_selfie.jpg
recovered_id.jpg

# Or ignore all jpg files in the backend root
/*.jpg

# Django
staticfiles/
media/

# IDE
.idea/
.vscode/
*.swp

# Docker
*.log

# Node
node_modules/
frontend/dist/
